body{background-color: red;}
.help {
  font-style: italic;
}
#grip {
  background-color: yellow;
}
p {
  background-color: blue;
}
#form {
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  background-color: black;
}
label{
  color: blue;
}
textarea{
  width:200px;
  height: 150px;
}
